<div>
<h2> Argumentos :{{Arguments}}  </h2>
<h2> platform : {{platform}}  </h2>
<h2> node : {{node}}  </h2>
<h2> memory: {{memory}}  </h2>
<h2> path : {{path}}  </h2>
<h2>id : {{id}}  </h2>
<h2> carpeta :{{carpeta}}  </h2>

</div>